@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

/* Parallax Styles */
.parallax-container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.parallax-layer {
  transition: transform 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.parallax-content {
  transform: translateZ(0);
}